@tailwind base;
@tailwind components;
@tailwind utilities;


/* Variables 
--spotlas-pink: rgb(255, 0, 96);
--bright-green: rgb(48, 216, 72);
--main-pink-1: #ff0080;
--main-pink-2: #ff0040;
--title-subtext: #c8c8c8;
--border: #e0e0e0;
--footer-text: #c8c8c8;
*/

.App {
    width: 600px;
    margin: 0 auto;
}

.user-image-border {
    background: linear-gradient(#ff0040, #ff0080);
    border: 6px solid transparent;
}

.location-image-border {
    background: #fff;
    border: 6px solid transparent;
}

.rounded {
    border-radius: 100%;
}

.post-image-nav {
    pointer-events: none;
}

.likedBtn {
    background: linear-gradient(#ff0040, #ff0080);
}

.inset-center {
    position: absolute;
    top: 43%;
    left: 43%;
    transform: translate(-50%, -50%);
}

.white-text {
    color: #fff;
}

.grey-text {
    color: #c8c8c8;
}

.circle-image {
    width: 96px;
}

.width-100-fix {
    width: calc(100% - 64px);
}